
<div>
    <h1>subir archivos</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="archivo">Selecciona un archivo</label>
        <input type="file" id="file" name="file" required>
        <button>Subir archivo</button>
    </form>
</div>