<div class="header">
    <h1>Pagina de productos</h1>
    <nav>
        <div class="content">
            <a href="/#">Home</a>
            <a href="/realTimeProducts">realTimeProducts</a>
            <a href="/products">products</a>
            <a href="/productDetail">productDetail</a>
            <a href="/cartDetail">cartDetail</a>
        </div>
    </nav>
</div>